<div class="flex flex-col align-middle items-center" style="background-color: #f6f6f6" *ngIf="memberData">
  <img src="assets/images/tunisiabg.jpg" class="w-full object-cover" style="height: 80vh" *ngIf="member != 'IPA Switxboard Tunisia' && member != 'IPA Experience'">
  <img src="assets/images/ipaTunisia.jpg" class="w-full object-cover" style="height: 80vh" *ngIf="member == 'IPA Switxboard Tunisia'">
  <img src="assets/images/ipaExp.jpg" class="w-full object-cover" style="height: 80vh" *ngIf="member == 'IPA Experience'">
  <div class="md:w-1/2 sm:w-4/5 bg-white  shadow shadow-xl -mt-32 p-12">
    <h4 class="text-6xl font-semibold text-center">{{memberData.name}}</h4>
  </div>
  <div class="w-full flex flex-col align-middle items-center py-16 ">
    <div class="md:w-1/2 sm:w-4/5">
      <h3 class="text-3xl border-4 border-transparent border-l-red-900 font-bold mb-1 pl-4">What do we do?</h3>
      <p class="font-thin pb-6 text-xl">Our main goal has always been to help those in need</p>
      <div class="flex flex-wrap justify-between items-center max-w-7xl text-center">
        <div class="w-full sm:w-1/2 md:w-2/3 flex flex-col items-start justify-center p-4 pl-0">
          <p class="leading-normal mb-4 text-gray-700 text-left">
            {{memberData.description}}
          </p>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-start justify-start p-4 pl-8 border border-solid border-transparent border-l-neutral-200">
          <h1 class="text-center font-bold text-red-900 text-xl">Contact</h1>
          <h2 class="my-1 font-medium">Address :</h2>
          <p class="leading-normal text-xs mb-4 text-gray-700 text-left">
            {{memberData.contact.address}}
          </p>
          <h2 class="my-1 font-medium">Phone Number :</h2>
          <p class="leading-normal text-xs mb-4 text-gray-700">
            {{memberData.contact.phone}}
          </p>
          <h2 class="my-1 font-medium">Email :</h2>
          <p class="leading-normal text-xs mb-4 text-gray-700">
            {{memberData.contact.mail}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full flex flex-col align-middle items-center pt-16" style="background-color: #E9E9E9">
    <div class="md:w-1/2 sm:w-4/5">
      <h3 class="text-3xl border-4 border-transparent border-l-red-900 font-bold mb-1 pl-4">Delevering lasting impact</h3>
      <p class="font-thin pb-16 text-xl">Our main goal has always been to help those in need</p>
      <div class="flex flex-wrap justify-between items-start max-w-7xl text-center">
        <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center p-4" *ngFor="let m of memberData.goals">
          <div class="w-16 h-16 p-2 rounded-full mr-4 bg-red-200" alt="">
            <img src="assets/images/global-network.png">
          </div>
          <h2 class="my-4 font-medium">{{m.title}}</h2>
          <p class="leading-normal mb-4 text-gray-700">
            {{m.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <section class="py-16 md:w-1/2 sm:w-4/5" id="offices" *ngIf="memberData.offices[1] != null">
    <h3 class="text-3xl border-4 border-transparent border-l-red-900 font-bold mb-1 pl-4">Our offices</h3>
    <div class="w-full py-6 text-center flex flex-wrap justify-between items-center" style="text-align: -webkit-center">
      <app-map-tunisia class="w-full md:w-1/3 z-50" [heightOfMap]="60"></app-map-tunisia>
      <div class="text-neutral-800   w-1/3 -ml-8 flex flex-col justify-center space-y-2">
        <div class="w-full cursor-pointer space-y-2 office" *ngFor="let off of memberData.offices">
          <div class="bg-white  p-2 rounded hover:bg-red-900 hover:text-white">
            <h3 class="font-bold">{{off.title}} office</h3>
          </div>

          <div class="bg-red-900 rounded h-full w-full px-6 py-4 text-white text-left h-auto flip-in-hor-bottom  swing-in-top-fwd">
            <h1 class="text-center font-bold text-red-100 text-xl">Contact</h1>
            <h2 class="my-1 font-medium">Address :</h2>
            <p class="leading-normal text-xs mb-4 text-gray-100 text-left">
              {{off.contact.address}}
            </p>
            <h2 class="my-1 font-medium">Phone Number :</h2>
            <p class="leading-normal text-xs mb-4 text-gray-100">
              {{off.contact.phone}}
            </p>
            <h2 class="my-1 font-medium">Email :</h2>
            <p class="leading-normal text-xs mb-4 text-gray-100">
              {{off.contact.mail}}
            </p>
          </div>
        </div>
      </div>
    </div>

  </section>
  <div class="w-full pt-16">
    <app-subscribe></app-subscribe>
  </div>
</div>


