<div id="map-mapbox"></div>
<div class='map-overlay gap-x-6 px-8' id='legend'>
  <div class="flex gap-x-1">
    <div class="bg-[#ffa500] ratio-4x3 w-4 h-4 rounded-full border border-3 border-gray-50"></div>
    <h2 class="font-medium">Partners</h2>
  </div>
  <div class="flex gap-x-1">
    <div class="bg-[#008b8b] ratio-4x3 w-4 h-4 rounded-full border border-3 border-gray-50"></div>
    <h2 class="font-medium">Projects</h2>
  </div>
  <div class="flex gap-x-1">
    <div class="bg-[#740b0b] ratio-4x3 w-4 h-4 rounded-full border border-3 border-gray-50"></div>
    <h2 class="font-medium">Offices</h2>
  </div>
</div>
