<div class="flex flex-col justify-center items-center w-full pb-24">
  <div class="flex flex-wrap sm:w-full md:w-1/2 mb-12">
    <p class="sm:w-full md:w-1/4 p-8">Subscribe <br> to get updated <br>news</p>
    <h3 class="sm:w-full md:w-3/4 border-8 border-transparent border-l-red-900 sm:pl-8 md:pl-32 font-semibold text-6xl leading-snug" style="font-family: Roboto">Subscribe To Our Newsletter</h3>
  </div>
  <div class="flex w-1/2">
    <form class="flex flex-wrap items-end justify-end w-full">
      <div class="flex flex-col sm:w-full mb-8 md:mb-0 md:w-6/12 pl-4">
        <label class="text-gray-600">Enter your email here</label>
        <input class="bg-transparent border-2 border-transparent border-b-neutral-700  mr-2 focus-visible::border-transparent focus-visible:border-b-neutral-700">
      </div>
      <button class="border-2 border-solid border-red-900 p-2 bg-red-900 text-white">Subscribe</button>
    </form>
  </div>
</div>
<!--<div class="p-4 bg-white w-full  flex  flex-col justify-center items-center border border-gray-200 shadow-md sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700">
  <a class="rounded-2xl bg-white -mt-5 " style="margin-top: -6vh; margin-bottom: 2vh; padding: 0.2rem;">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
         width="50" height="50"
         viewBox="0 0 50 50"
         style=" fill:#000000;">
      <path d="M 14 4 C 8.4886661 4 4 8.4886661 4 14 L 4 36 C 4 41.511334 8.4886661 46 14 46 L 36 46 C 41.511334 46 46 41.511334 46 36 L 46 14 C 46 8.4886661 41.511334 4 36 4 L 14 4 z M 14 6 L 36 6 C 40.430666 6 44 9.5693339 44 14 L 44 36 C 44 40.430666 40.430666 44 36 44 L 14 44 C 9.5693339 44 6 40.430666 6 36 L 6 14 C 6 9.5693339 9.5693339 6 14 6 z M 13 15 C 11.35503 15 10 16.35503 10 18 L 10 32 C 10 33.64497 11.35503 35 13 35 L 37 35 C 38.64497 35 40 33.64497 40 32 L 40 18 C 40 16.35503 38.64497 15 37 15 L 13 15 z M 13.414062 17 L 36.583984 17 L 27.677734 25.892578 C 26.18494 27.382984 23.796834 27.382819 22.304688 25.890625 L 13.414062 17 z M 38 18.412109 L 38 31.587891 L 31.402344 25 L 38 18.412109 z M 12 18.414062 L 18.585938 25 L 12 31.585938 L 12 18.414062 z M 29.988281 26.412109 L 36.585938 33 L 13.414062 33 L 20 26.414062 L 20.890625 27.304688 C 23.146478 29.56054 26.832638 29.562194 29.089844 27.308594 L 29.988281 26.412109 z"></path>
    </svg>
  </a>
  <form class="sm:space-y-6 space-x-6 flex flex-wrap justify-center " action="#">
    <div class="container w-full text-center">
      <h3 class="text-2xl font-bold text-gray-900 dark:text-white">Subscribe to our news letter</h3>
      <p class="mt-1 text-xs font-thin">Subscribe now and get notified about all new articles</p>
    </div>
    <div class="container flex flex-wrap w-full items-end items-center justify-center md:justify-between pb-2">
      <div class="w-4/5 md:w-1/4 pr-2">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your first name</label>
        <input type="text" name="text" id="first" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="first name" required>
      </div>
      <div class="w-4/5 md:w-1/4 pr-2">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your last name</label>
        <input type="text" name="text" id="last" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="last name" required>
      </div>
      <div class="w-4/5 md:w-1/2">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your email</label>
        <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="name@company.com" required>
      </div>
    </div>
    <button type="submit" class="w-full mb-1  text-white bg-red-900 hover:bg-red-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Subscribe</button>
  </form>
</div>-->
