.navbar-brand{
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  font-family: akzidenz-grotesk,Arial,sans-serif;
  visibility: visible;
  font-weight: 300;
  box-sizing: inherit;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  position: absolute;
  width: 119px;
  height: 158px;
  background-size: 100%;
  top: 0;
  left: -136px;
  outline: 0;
  transition: background-color .15s ease-in-out,color .15s ease-in-out;
  text-decoration: none;
}
