.carousel-caption{
  right: 0;
  bottom: 0;
  height: -webkit-fill-available;
  left: 55%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
}


.carousel-control-next-icon{
  filter: brightness(0);
  margin-left: 5rem;
}
.carousel-control-prev-icon{
  filter: brightness(0);
  margin-right: 5rem;
}

