<div class="flex flex-row flex-wrap introduction ">
  <app-map-box style="width: 70vw; height: auto; justify-self: end"></app-map-box>
  <div class="sm:w-full md:w-1/4 intro">
    <h4 class="text-2xl">IPA SwitxBoard</h4>
    <h3 class="text-2xl">Connectivity is the key</h3>
    <p>IPA SwitxBoard, the Innovation and Planning Agency, operates according to the principles of the social and solidarity economy to fulfill a clear social mission: to contribute to sustainable development in its economic, social, environmental and participatory dimensions. </p>
    <div class="activities pt-10">
      <h4 class="text-3xl">Our activities</h4>
      <p>IPA SwitxBoard, the Innovation and Planning Agency, operates according to the principles of the social and solidarity economy to fulfill a clear social mission: to contribute to sustainable development in its economic, social, environmental and participatory dimensions. </p>
    </div>
  </div>
</div>
<div class="flex flex-col md:flex-row items-center w-full pt-16 pb-8 md:justify-end">
  <div class="sm:w-full md:w-1/2">
    <div class="video">
      <div class="enaheya">
        <div>
          <iframe src="https://www.youtube.com/embed/SVen7IDjQts" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="sm:w-full md:w-1/2 kilianScript md:-ml-10" style="z-index: -1">
    <h4 class="text-2xl">Meet Our CEO and Founder</h4>
    <h2 >Kilian Kleinschmidt</h2>
    <p>
      Kilian Kleinschmidt believes in the power of connectivity and that we can fix it all through better and
      more effective access of the disadvantaged populations and fragile regions to the immense wealth of
      knowhow, technologies and finance we have accumulated collectively. It is his conviction that the global
      brain and the collective resilience grows with every connection made successfully solving a challenge and
      seizing an opportunity. <br> <br>
      Kilian is an international networker, development and migration expert with 30 years of experience in a
      wide range of countries, emergencies and refugee camps as United Nations official, Aid worker and
      Diplomat. He is the CEO of the startup Innovation and Planning Agency (IPA) of the 21st century
      through its project SWITXBOARD. He has established IPA SWITXBOARD in Tunisia where he is
      based. He is currently developing and advising a number of ventures which aim at sustainable investment
      and social impact in very fragile environments. His work on emerging cities, Special Development Zones
      and urbanization of refugee camps is widely recognized as the way forward dealing with mass migration,
      population shifts and transformation of society. He is challenging the Humanitarian Aid Sector through a
      range of new and unorthodox partnerships, technologies and ways of financing building on networking
      and swarm intelligence rather than hierarchies and ineffective bureaucracies. He lives and works in Tunis.
      <br><br>
      He became known as the “Mayor of Za&#39;atari&quot; when he managed the refugee camp of Za&#39;atari in Northern
      Jordan from 2013-2014 on behalf of UNHCR. Za&#39;atari has become a symbol for new and innovative
      approaches in refugee and humanitarian management under his leadership. His career included positions
      as Deputy Humanitarian Coordinator for Somalia, Deputy Special Envoy for Assistance to Pakistan,
      Director for Communities and Minorities in the UN administration in Kosovo, Executive Secretary for
      the Migration and Refugee Initiative (MARRI) in the Stability Pact for South Eastern Europe and many
      field based functions with UNHCR, UNDP and WFP. He worked extensively in Africa, South Eastern
      Europe, Pakistan and Sri Lanka and during the European refugee crisis advised the Austrian Minister of
      Interior on Refugee reception centres. Most recently he was a Special Advisor to the German Minister of
      Development on Refugee issues and innovative partnerships (2016) and advising Austrian Chancellor
      Christian Kern on migration issues in Africa. <br> <br>
      He is a public speaker and coach and has published three books - “Weil es um die Menschen geht”
      (ECON 2015) , “Beyond Survival” (Dumont-Mair 2016) and “Tod dem Helfer” (Dumont-Mair 2017)
      and authored a number of articles on refugee and migration issues. He is a renowned public speaker in
      conferences, TEDx and other events.
    </p>
  </div>
</div>
<div class="partners">
  <h4 class="text-4xl">Our partners</h4>
  <p>Over the years IPA has had many partners And we are honored to have worked with them all!
    Here is a list of partners We already have worked with and still will! </p>
  <app-partners style="width: 100%"></app-partners>
</div>
