svg {
  margin: 0;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  overflow: hidden;
  padding: 1vw;
  @media screen and (max-width: 768px) {
    width: 90vw;
  }
}

path {
  fill: darkgrey;
  cursor: pointer;
}
path:hover {
  fill: darkred;
}

.TN, .US, .AT{
  fill: #740B0B;
}
