@media(min-width:1143px){
  .navbar-nav>.nav-item{float:left;white-space:nowrap}
  .navbar-nav>.nav-item+.nav-item{margin-left:1rem}
  .navbar-nav.trailing-nav .first{padding-bottom:0}
  .nav-link,.nav-text{display:inline-block}
  #main-menu>li:first-child{padding-left:0;border-left:5px solid #fff}
  .bottom-nav>ul>li{padding-top:17px;padding-bottom:16px; color: white}
  .bottom-nav .main-menu-level-1>.nav-link,.bottom-nav .main-menu-level-1>.nav-text{text-transform:uppercase;font-weight:700;font-size:16px;padding:2px 20px;border-right:1px solid #ccc;color:#000}
  .bottom-nav .navbar-nav.pull-right .btn-search{padding:0 16px;border-left:1px solid #ccc}
  .main-menu-level-1>.menu{display:none}
  .main-menu-level-1:hover{background-color: #ebebeb; color: white}
  .main-menu-level-1:hover>.menu{display:block;position:absolute;left:0;list-style:none;padding-left:0;top:56px;color: #FFFFFF}
  .main-menu-level-1:not(.expanding-items)>.menu,.expanding-items .main-menu-level-2>.menu{width:1176px;border:5px solid #fff;border-top:none;background-color: #ebebeb;padding:36px 56px 0;top:56px}
  .main-menu-level-1:not(.expanding-items) ul a,.expanding-items .main-menu-level-2 ul a{color:#000;text-transform:none;font-size:16px}
  .main-menu-level-1:not(.expanding-items) .main-menu-level-2.first{width:50%;float:left}
  .main-menu-level-1:not(.expanding-items) .main-menu-level-2.first ul{margin-right:52px}
  .expanding-items .main-menu-level-3>a{position:relative}
  .main-menu-level-3{border-bottom:1px solid #740b0b}
  .main-menu-level-3>a{font-size:16px;font-weight:700;display:block;line-height:4; color: white}
  .main-menu-level-3.last{border-bottom:none}
  .main-menu-level-1:not(.expanding-items) .main-menu-level-3>a{padding-left:36px}
  .main-menu-level-1:not(.expanding-items) .main-menu-level-3>a:hover{background-color:#740b0b; color: white}
  .bottom-nav{position:relative}
  .bottom-nav .main-menu-level-1{padding-left:.5rem;text-transform:uppercase;font-size:12px}
}

.pull-left{float:left;margin-right:25px;margin-top:24px;padding:0;line-height:1.2}
.bottom-nav .navbar-nav.pull-left .main-menu-level-1+.main-menu-level-1{margin-left:0;padding:17px 0 16px}

button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
.pull-left{float:left}
.pull-right{float:right}
h1,h2,h3,h4,h5,h6{margin-top:0}
a:hover{transition:background-color .15s ease-in-out,color .15s ease-in-out}
.crisis-watch-no-description:hover{color:#e31106!important;background-color:transparent!important}
.navbar{position:relative;padding:0;z-index:500}
.navbar:before,.navbar:after{content:" ";display:table}
.navbar:after{clear:both}
.navbar a{text-decoration:none}

.nav{padding-left:0;margin-bottom:0;list-style:none;margin-top:0}
.bottom-nav{background-color:#fff}
.bottom-nav:after{clear:both}
.nav-item-donate{background-color: #740b0b;height:56px;vertical-align:middle;padding-top:10px;font-size:16px!important;font-weight:700}
.navbar-nav-mobile-bottom{display:none;background:black;padding:0 16px!important;padding:0 1rem!important}
@media(min-width:1143px){.main-menu-subsection-title{color:darkred;font-weight:700;font-size:large;margin-bottom:12px}}
#container>header,.global-footer{position:relative;z-index:500}
#main{position:relative;z-index:502}
@media(min-width:1143px){body[class*=chrome-no-header] #container>header{min-height:0}}
.collapse-toggle{text-indent:-10000px;display:none}

@media (max-width: 1160px) {
  nav{
    display: none;
  }
}

/*.........................................................................*/
.navbar-container{margin-top:1rem;  margin-left:151px;  margin-right:16px;
}
@media(min-width:1400px){
  .navbar-container{
    max-width:1176px;
    position:relative;
    left:40px;
    margin-left:auto;
    margin-right:auto;
  }
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #740b0b #ebebeb;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 11px;
}

*::-webkit-scrollbar-track {
  background: #ebebeb;
}

*::-webkit-scrollbar-thumb {
  background-color: #740b0b;
  border-radius: 16px;
  border: 1px solid #ffffff;
}
